### HTML 웹 크롤링
- 제조업 PMI 데이터 수집
    - tradingeconomics 웹 서비스에서 아시아의 제조업 PMI 데이터를 수집하여 PMI 지표가 상승한 국가의 데이터를 출력
    - `https://ko.tradingeconomics.com/`
    - 지표 -> 사업 -> 제조업 PMI -> 아시아

In [1]:

import requests
from bs4 import BeautifulSoup

1. 아시아 국가별 PMI 지수 데이터 수집

In [3]:
url = "https://ko.tradingeconomics.com/country-list/manufacturing-pmi?continent=asia"
response = requests.get(url)
print(response)
soup = BeautifulSoup(response.content, "html.parser")

<Response [200]>

In [75]:
ls = []
for i in range(int(len(datas)/5)):
    ls.append({
        "country" : datas[(5*i)+0].text.strip(),
        "last" : datas[(5*i)+1].text.strip(),
        "before" : datas[(5*i)+2].text.strip(),
        "date" : datas[(5*i)+3].text.strip()
    })
    
df = pd.DataFrame(ls)

In [77]:
df.tail()

    country  last before     date
15     스리랑카  64.6   67.3  2020-07
16       대만  50.6   46.2  2020-07
17       태국  45.9   43.5  2020-07
18  아랍 에미리트  50.8   50.4  2020-07
19      베트남  47.6   51.1  2020-07

2. PMI 지수 변동률 컬럼 추가

In [82]:
df["change"] = df["last"].astype("float64") - df["before"].astype("float64")
df.tail()

    country  last before     date  change
15     스리랑카  64.6   67.3  2020-07    -2.7
16       대만  50.6   46.2  2020-07     4.4
17       태국  45.9   43.5  2020-07     2.4
18  아랍 에미리트  50.8   50.4  2020-07     0.4
19      베트남  47.6   51.1  2020-07    -3.5

3. 제조업 PMI가 이전 달보다 안 좋아진 국가리스트 출력

In [84]:
df[df["change"] < 0.0 ]

   country  last before     date  change
1       홍콩  44.5   49.6  2020-07    -5.1
2       인도    46   47.2  2020-07    -1.2
6    카자흐스탄    48   52.9  2020-07    -4.9
8    말레이시아    50     51  2020-07    -1.0
10     필리핀  48.4   49.7  2020-07    -1.3
15    스리랑카  64.6   67.3  2020-07    -2.7
19     베트남  47.6   51.1  2020-07    -3.5