# Review data crawling

In [20]:
import requests
from bs4 import BeautifulSoup as bs
import time
import json

In [76]:
review_df = pd.DataFrame()

In [ ]:
for page_num in range(3446,5351):
    print("=========== {} 페이지 진행중 ===========".format(page_num))
    url = "https://www.basenotes.net/fragrancereviews/page/{}".format(page_num)
    request = requests.get(url=url)
    soup = bs(request.text, 'html.parser')
    
    ## good한 것
    review3 = soup.find_all("div", {"class":"reviewmain review3"})
    users_3 = [x.select_one("a").get("href").split("/")[-1] for x in review3]
    perfumes_3 = [x.select_one("h2 > a").get("href").split("/")[-1][:10] for x in review3]
    rate_3 = [3]*len(perfumes_3)
    item_3 = pd.DataFrame({"userID":users_3, "perfumeID":perfumes_3, "rate":rate_3})
    
    ## soso한 것
    review2 = soup.find_all("div", {"class":"reviewmain review2"})
    users_2 = [x.select_one("a").get("href").split("/")[-1] for x in review2]
    perfumes_2 = [x.select_one("h2 > a").get("href").split("/")[-1][:10] for x in review2]
    rate_2 = [2]*len(perfumes_2)
    item_2 = pd.DataFrame({"userID":users_2, "perfumeID":perfumes_2, "rate":rate_2})
    
    ## bad 한 것
    review1 = soup.find_all("div", {"class":"reviewmain review1"})
    users_1 = [x.select_one("a").get("href").split("/")[-1] for x in review1]
    perfumes_1 = [x.select_one("h2 > a").get("href").split("/")[-1][:10] for x in review1]
    rate_1 = [1]*len(perfumes_1)
    item_1 = pd.DataFrame({"userID":users_1, "perfumeID":perfumes_1, "rate":rate_1})
    
    review_df = pd.concat([review_df, item_1, item_2, item_3], axis=0)
    
review_df

In [117]:
review_df.to_csv("review_final_final.csv", index=False)

In [24]:
pd.read_csv("review_final_final.csv")

          userID   perfumeID  rate
0       13391242  ID26162042   2.0
1       13381457  ID26120578   2.0
2       26195006  ID26162042   2.0
3       26226431  ID26121487   2.0
4       26195006  ID26124934   2.0
...          ...         ...   ...
160178      1993  ID26120398   3.0
160179      1993  ID26120028   3.0
160180      1993  ID26121716   3.0
160181      1993  ID26121301   3.0
160182      1993  ID26120240   3.0

[160183 rows x 3 columns]